.ForgetPassword-img {
    max-width: 633px;
    max-height: 633px;
}
.ForgetPassword-img img {
    height: 100%;
    width: 100%;
}
.ForgetPassword-input {
    max-width: 545px;
    max-height: 59px;
    border: 1px solid #E5E7EB;
}
.ForgetPassword-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #A1A8B0;
}
.reset-password-button {
    background-color: #EDB82C;
    color: white;
    font-size: 20px;
    font-weight: 700;
    height: 49px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.login-btn {
    font-size: 14px;
    font-weight: 500;
    color: black;
}