.reset-password-img {
    max-width: 633px;
    max-height: 633px;
}
.reset-password-img img {
    width: 100%;
    height: 100%;
}
.reset-password-form input {
    max-width: 545px;
    max-height: 59px;
    border: 1px solid #E5E7EB;
}
.reset-password-form input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #A1A8B0;
}
.reset-password-button button {
    background-color: #EDB82C;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.reset-password-link a {
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.reset-password-title h3 {
    font-size: 40px;
    font-weight: 700;
}
.reset-password-title p {
    font-size: 16px;
    font-weight: 400;
    color: #A1A8B0;
}